<div class="guInteractive">
  	
    
  	<div class='guSlice guHeader'>
  	   <div class='guContainer'>
          <div class='headerContent'>
            <h1 class='f-headline'>{{config.headline}}</h1>
            <p class='headerCopy f-bodycopy'>{{{config.standfirst}}}</p>
          </div>
       </div>
  	</div>
    {{^params.embed}}
  	 <div class='guSlice guNav'>
  	 	<div class='guContainer'>
  			<navTemplate />
  		</div>
  	</div>
    {{/params.embed}}

  	<div class='guSlice guContent'>
  		<div class='guContainer'>

        {{#podcasts}}
          {{#podcast.published == 'TRUE'}}
            {{^params.embed}}
  		        <podcastTemplate />
            {{/params.embed}}
            
            {{#params.embed && params.episode == podcast.episode}}
              <podcastTemplate />
            {{/params.embed}}

          {{/podcast.published}}
        {{/podcasts}}


  		</div>
  	</div>
	

</div>
