<div class="guInteractive">
  	
    {{^params.embed}}
  	<div class='guSlice guHeader'>
  		<div class='guContainer'>The biggest story in the world</div>
  	</div>

  	 <div class='guSlice guNav'>
  	 	<div class='guContainer'>
  			<navTemplate />
  		</div>
  	</div>
    {{/params.embed}}

  	<div class='guSlice guContent'>
  		<div class='guContainer'>

        {{#podcasts}}
          {{#podcast.published == 'TRUE'}}
            {{^params.embed}}
  		        <podcastTemplate />
            {{/params.embed}}
            
            {{#params.embed && params.episode == podcast.episode}}
              <podcastTemplate />
            {{/params.embed}}

          {{/podcast.published}}
        {{/podcasts}}


  		</div>
  	</div>
	

</div>
