<div class='epModule moduleBg'>
	<div class='modHeader f-headline'>Terms to know while you're listening</div>

	<div class='moduleWrapper'>
		<div class='moduleKeyWord'>
			<div class='keyWord f-headline'>Climate <span class='pronounciation f-bodyCopy'>[ klahy-mit ]</span></div>
			<div class='keyWordExplainer f-bodyCopy'>n. the composite or generally prevailing weather conditions of a region,as temperature, air pressure, humidity, precipitation, sunshine,cloudiness, and winds, throughout the year, averaged over a series of years</div>
		</div>

		<div class='moduleKeyWord'>
			<div class='keyWord f-headline'>Climate <span class='pronounciation f-bodyCopy'>[ klahy-mit ]</span></div>
			<div class='keyWordExplainer f-bodyCopy'>n. the composite or generally prevailing weather conditions of a region,as temperature, air pressure, humidity, precipitation</div>
		</div>

		<div class='moduleKeyWord'>
			<div class='keyWord f-headline'>Climate <span class='pronounciation f-bodyCopy'>[ klahy-mit ]</span></div>
			<div class='keyWordExplainer f-bodyCopy'>n. the composite or generally prevailing weather conditions of a region,as temperature, air pressure, humidity, precipitation, sunshine,cloudiness, and winds, throughout the year, averaged over a series of years</div>
		</div>
	</div>

</div>