<div class='epLabel f-bodyCopy'>Podcast episodes</div>

{{#podcasts:i}}
	<div {{#podcast.published =="TRUE"}}on-click='changeEpisode:{{podcast.episode}}'{{/podcast.published}} class='guNavBtn f-textSans {{#podcast.published =="TRUE"}}active{{/podcast.published}} {{#selected}}selected{{/selected}}'>{{i + 1}}</div>
{{/podcasts}}


<a href='https://itunes.apple.com/gb/podcast/the-biggest-story-in-the-world/id974647253?mt=2' target="_blank"><div class='guNavSubscribe f-textSans'>Subscribe via iTunes</div></a>