
<div class='podcastPlayer'>
	<audio >
		<source src="{{podcast.url}}" type="audio/mpeg">
	</audio>

	<div class='guAudioPlayer'>
		<div class='playerContainer'>
			<div class='guPlayerBtn {{#isPlaying}}playerIsPlaying{{/isPlaying}}' on-click='triggerPlayPause'>
			
				<svg x="0px" y="0px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
					<circle fill="#ff9b0b" cx="50" cy="50" r="48"/>
					<polygon class='guPause' points="45.9,65.5 37.6,65.5 37.6,34.5 39.6,32.5 45.9,32.5 "/>
					<polygon class='guPause' points="62.4,63.5 60.4,65.5 54.1,65.5 54.1,32.5 62.4,32.5 "/>
					<polygon class='guPlay' points="72.2,49.3 38.1,35.2 36.9,36.1 36.9,63.9 38.1,64.8 72.2,50.7 "/>
				</svg>
			
			</div>
		
			<div class='guProgressContainer'>	
				<div class='guListenLabel f-bodycopy'>Listen</div>
				<div class='guProgressBar'>
					
					<div class='guProgress' style='width: {{percentPlayed}}%;'></div>
					<div class='guProgBarHit' on-mousedown='triggerMouseDown' on-mouseup='triggerMouseUp' on-mousemove='triggerMouseMove'></div>
				</div>
				<div class='guTimer f-textSans'>{{calcPosition}} / {{calcDuration}}</div>
			</div>
		</div>

		<div class='guPodcastLinks'>
			<div class='playerShareLinks'>
				<shareTemplate fbk='true' />
			</div>
			<a href='https://itunes.apple.com/gb/podcast/the-biggest-story-in-the-world/id974647253?mt=2' target="_blank"><div class='guPodcastLink iTunes f-textSans'>Subscribe via iTunes</div></a>
			<a href='{{podcast.url}}' target="_blank"><div class='guPodcastLink download f-textSans'>Download MP3</div></a>
			<a href='{{config.xmlurl}}' target="_blank"><div class='guPodcastLink feed f-textSans'>Podcast feed</div></a>
		</div>
	</div>

</div>



<style>

.podcastPlayer {
	width: 100%;
	display: block;
	margin-top: 20px;
}

audio {
	display: none;
}

.guAudioPlayer {
	width: 100%;
	margin-top: 10px;
	float: left;
}

.playerContainer {
	display: table;
	width: 100%;
}

.guPlayerBtn {
	width: 50px;
	display: table-cell;
	vertical-align

}

.guPlayerBtn svg {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.guPause {
	display: none;
}

.playerIsPlaying .guPause {
	display: block;
}

.playerIsPlaying .guPlay {
	display: none;
}

.guProgressContainer {
	max-width: 640px;
	padding-left: 10px;
	display: table-cell;
	vertical-align: top;
}

.guTimer {
	color: #767676;
	font-size: 12px;
	display: inline-block;
}

.guListenLabel {
	color: #767676;
	font-size: .8rem;
	line-height: .8rem;
}

.guProgressBar {
	margin: 5px 0;
	position: relative;
	height: 15px;
	background: #dfdfdf;
	cursor: pointer;
}

.guProgBarHit {
	width: 100%;
	height: 100%;
	position: absolute;
}

.guProgress {
	background: #ff9b0b;
	position: absolute;
	height: 15px;
}

.guPodcastLinks {
	width: 100%;
	margin: 10px 0;
	border-top: 1px solid #dcdcdc;
	padding-top: 10px;
}

.guPodcastLink {
	float: left;
	padding: 5px 0 5px 0px;
	width: 100%;
	color: #005689;
	font-size: .85rem;
	height: 18px;
	line-height: .85rem;
	margin: 5px 0;
}

.guPodcastLink.iTunes {
	padding: 5px 0 5px 25px;
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-image: url(@@assetPath@@/imgs/subscribe.svg);

}


.guPodcastLink.download {
	padding: 5px 0 5px 25px;
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-image: url(@@assetPath@@/imgs/download.svg);


}

.guPodcastLink.feed {
	padding: 5px 0 5px 25px;
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-image: url(@@assetPath@@/imgs/feed.svg);


}

@media (min-width: 980px){
	.playerContainer {
		width: 360px;
		float: left;
	}

	.guPodcastLinks {
		width: 180px;
		float: left;
		border-top: none;
		padding: 0 0 0 15px;
		margin: 0;
		border-left: 1px solid #dfdfdf;
	}

	.guPlayerBtn {
		width: 100px;
	}
	.guPlayerBtn svg {
		width: 80px;
		height: 80px;
	}

	.guPlayerBtn svg {
		width: 100px; 
	}

	.guListenLabel {
		font-size: 1.15rem;
		line-height: 1.25rem;
	}

	.guProgressContainer {
		vertical-align: middle;
		
		padding-right: 20px;
	}
}

</style>

<script>

var convertTime = function(time){
					//convert seconds to MM:SS format
					var minutes = Math.floor(time / 60);
					var seconds = Math.floor(time - (minutes * 60));
					if(seconds < 10 ){
						seconds = "0"+ seconds.toString();
					} 
					return minutes + ':' + seconds;
				}


component.exports = {

	data: {
			canPlay: false,
			duration: 0, // seconds long audio file
			position: 0, // current play position in seconds
			currentPosition: 0  //seconds that have played
	},
	computed: {
		calcDuration: function(){
			var d = this.get('duration')
			return convertTime(d);
		},
		calcPosition: function(){
			var d = this.get('position')
			return convertTime(d);
		},
		percentPlayed: function(){
			return this.get('position') / this.get('duration') * 100;
		}
	},
	onrender: function(){
		//component reference
		var that = this;
		var isMouseDown = false;
		var progBarEl = this.find('.guProgressBar');
		//player reference
		var audioPlayer = this.find('audio');
		audioPlayer.onloadeddata = function(e){
			that.set('canPlay', true);
			that.set('duration', audioPlayer.duration);
		}
		audioPlayer.ontimeupdate = function(e){
			that.set('position', audioPlayer.currentTime)
		}



		//assigh events
		this.on({
			triggerPlayPause: function(e){
				this.toggle('isPlaying')
			},
			triggerMouseMove: function(e){
				if(isMouseDown){
						var rect =  progBarEl.getBoundingClientRect();
						var width = rect.right - rect.left;
				        var offsetX = e.original.clientX - rect.left;
				 		var pct = offsetX / width;

				 		//console.log(offsetX, width, this.get('duration'), this.get('duration') * pct)
				 		audioPlayer.currentTime = this.get('duration') * pct;

				}
			},
			triggerMouseDown: function(e){
				isMouseDown = true;
			},
			triggerMouseUp: function(e){
				isMouseDown = false;
			}


		})
		this.observe('isPlaying', function(state){
			if(state == true){
				audioPlayer.play();
				if(!that.get('hasPlayed')){
					that.set('hasPlayed', true)
				}
			} else {
				audioPlayer.pause();
			}
		})



		//audioPlayer.play();
	}

}

</script>