<div class='guPodcasts notPlaying'>

	<div class='episodeLead'>
		<div class='epBlock f-headline'>{{podcast.episode}}</div>
		<div class='epInfo'>
			<div class='epTitle f-headline'>{{podcast.title}}</div>
			<div class='epDesc f-bodyCopy'>{{podcast.description}}</div>
			<playerTemplate />
		</div>
	</div>

	{{^params.embed}}
		{{#selected}}
		<div intro-outro='slide' class='epContent'>
			<div class='colA'>

				{{#elementOrder:i}}
					{{#this == 'lexicon'}}
						<lexiconTemplate elements={{elements[this]}}/>
					{{/this}}

					{{#this == 'video' || this == 'photo'}}
						<visualTemplate elements="{{elements[this]}}"/>
					{{/this}}
				{{/elementOrder}}

				
			</div>
			<div class='colB'>

				
				{{#elementOrder:i}}
					{{#this == 'quote'}}
						<quotesTemplate elements="{{elements[this]}}"/>
					{{/this}}

					{{#this == 'resource'}}
						<referencesTemplate elements="{{elements[this]}}"/>
					{{/this}}
				{{/elementOrder}}


			</div>

		</div>
		{{/selected}}
	{{/params.embed && selected}}


</div>