<div class='guPodcasts notPlaying'>

	<div class='episodeLead'>
		<div class='epBlock f-headline'>1</div>
		<div class='epInfo'>
			<div class='epTitle f-headline'>Podcast title goes here here here</div>
			<div class='epDesc f-bodyCopy'>It’s Christmas eve, Alan sends an email.  He was taken by Bill McKibben when he met him last autumn in Stockholm and Bill relayed his Keep It In The Ground theory.</div>
			<playerTemplate />
		</div>
	</div>
	<div class='epContent'>
		<div class='colA'>

			<div class='epModule moduleBg moduleVisual'>
				<div class='modHeader f-headline'><div class='guShareBtn shareTwt'></div>What you should know about the biggest story</div>
				<div class='moduleWrapper'>
					<div class='modImgVid'></div>
				</div>
			</div>


			<div class='epModule moduleBg'>
				<div class='modHeader f-headline'>Terms to know while you're listening</div>

				<div class='moduleWrapper'>
					<div class='moduleKeyWord'>
						<div class='keyWord f-headline'>Climate <span class='pronounciation f-bodyCopy'>[ klahy-mit ]</span></div>
						<div class='keyWordExplainer f-bodyCopy'>n. the composite or generally prevailing weather conditions of a region,as temperature, air pressure, humidity, precipitation, sunshine,cloudiness, and winds, throughout the year, averaged over a series of years</div>
					</div>

					<div class='moduleKeyWord'>
						<div class='keyWord f-headline'>Climate <span class='pronounciation f-bodyCopy'>[ klahy-mit ]</span></div>
						<div class='keyWordExplainer f-bodyCopy'>n. the composite or generally prevailing weather conditions of a region,as temperature, air pressure, humidity, precipitation</div>
					</div>

					<div class='moduleKeyWord'>
						<div class='keyWord f-headline'>Climate <span class='pronounciation f-bodyCopy'>[ klahy-mit ]</span></div>
						<div class='keyWordExplainer f-bodyCopy'>n. the composite or generally prevailing weather conditions of a region,as temperature, air pressure, humidity, precipitation, sunshine,cloudiness, and winds, throughout the year, averaged over a series of years</div>
					</div>
				</div>

			</div>

			
		</div>
		<div class='colB'>

			<div class='epModule moduleQuote'>
				<div class='guShareBtn shareTwt'></div>
				<div class='modQuote'>
					<div class='quotePhoto'></div>
					<div class='quoteText'>The quick red fox jumped over the lazy brown dog. <span>- Bill Clinton, US president</span></div>
				</div>
			</div>

			<div class='epModule moduleReferences'>

				<div class='modHeader f-headline'>Further reading</div>

				<div class='modCitation'>
					<a href='#'> asdfasdfasfd</a>
				</div>

				<div class='modCitation'>
					<a href='#'> asdfasdfasfd</a>
				</div>

				<div class='modCitation'>
					<a href='#'> asdfasdfasfd</a>
				</div>

			</div>

		</div>

	</div>


</div>