<div class='guPodcasts'>

	<div class='episodeLead'>
		<div class='epBlock f-headline'>1</div>
		<div class='epInfo'>
			<div class='epTitle f-headline'>Podcast title goes here here here</div>
			<div class='epDesc f-bodyCopy'>Alan sends an email. It’s Christmas eve and he is thinking about what his final last hurrah will be. He was taken by Bill McKibben when he met him last autumn in Stockholm and Bill relayed his Keep It In The Ground theory.</div>
		</div>
	</div>
	<div class='episodeContent'>
		<div class='colA'>

			<div class='epModule moduleBg'>
				<div class='modHeader f-headline'>Terms to know while you're listening</div>

				<div class='moduleKeyWord'>
					<div class='keyWord f-headline'>Climate <span class='pronounciation f-bodyCopy'>[ klahy-mit ]</span></div>
					<div class='keyWordExplainer f-bodyCopy'>n. the composite or generally prevailing weather conditions of a region,as temperature, air pressure, humidity, precipitation, sunshine,cloudiness, and winds, throughout the year, averaged over a series of years</div>
				</div>

				<div class='moduleKeyWord'>
					<div class='keyWord f-headline'>Climate <span class='pronounciation f-bodyCopy'>[ klahy-mit ]</span></div>
					<div class='keyWordExplainer f-bodyCopy'>n. the composite or generally prevailing weather conditions of a region,as temperature, air pressure, humidity, precipitation, sunshine,cloudiness, and winds, throughout the year, averaged over a series of years</div>
				</div>

			</div>

			<div class='epModule moduleBg'>
				<div class='modHeader f-headline'>module here</div>

			</div>

		</div>
		<div class='colB'>sub column</div>

	</div>


</div>