<div class='videoWrapper'>
	{{^videoLoaded}}
	<div class='coverImage' on-click='loadVideo'>
		<img src='{{posterurl}}'>
	</div>
	{{/videoLoaded}}

	{{#videoLoaded}}
	<div class='iframeWrapper'>
		<iframe src='{{url}}#autoplay' frameborder="0" width='{{width}}px' height='{{height}}px' ></iframe>
	</div>
	{{/videoLoaded}}
</div>


<script>
	
	component.exports = {

		data: {
			videoLoaded: false
		},
		onrender: function(){
			this.on('loadVideo', function(){

				var width = this.find('.videoWrapper').offsetWidth;
				this.set('width', width);
				this.set('height', width * 9 /16)

				this.toggle('videoLoaded');


			})

			
		}

	}

</script>