

.guSlice{
	position: relative;
	display: block;
	width: 100%;
	float: left;
	overflow: visible;

}



.guHeader {
	background: #000;
	min-height: 250px;
	background: #333 url(../imgs/banner500.jpg);
	background-repeat: no-repeat;
	background-size: cover;

  	//background-position: 50% top;
  	//background-size: auto 100%;
  	position: relative;




	
	h1 {
		color: #eeb671;
		margin: 0;
		font-weight: 100;
		font-size: 24px;
		line-height: 30px;
	}

	.guContainer {
		height: 100%;
		position: relative;
		padding: 20px;

		
	}
}

.headerContent {

	display: table;

	.guHeaderLogo {
		vertical-align: middle;
		display: table-cell;
		width: 150px;



	}
	.guHeaderText {
		vertical-align: middle;
		display: table-cell;

		padding-left:20px; 
	}

	.headerCopy {
		font-size: 16px;
		line-height: 20px;
		color: #fff;
		
		margin: 0;
	}
}

.followBtn {
	background: #ff9b0b;
	border-radius: 20px;
	padding: 10px 15px;
	float: left;
	margin-top: 10px;
	display: none;
}

.guNav {
	background: #DFDFDF;
	line-height: 2.5em;
}

.guContent {
	background: #333;
}

.guContainer {
	width: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

@media (min-width: 280px){

	.guHeader {

		.headerCopy {
				font-size: 18px;
				line-height: 24px;
		
		}
		.followBtn {
			display: block;
		}
	}
}



@media (min-width: 440px){
	.guSlice::before, .guSlice::after {
		background: rgba(0,0,0,0.05);
		height: 100%;
		position: absolute;
		content: " ";
	}

	.guSlice::after {
		right: 0;
		top: 0;
	}

	.guHeader {
		h1 {
			font-size: 36px;
			line-height: 42px;
		}

		.headerCopy {
				font-size: 22px;
				line-height: 24px;
		
		}
		

	}
}



@media (min-width: 740px){
	
	.guSlice::before, .guSlice::after {
		width: calc((100% - 46.25rem) / 2);
	}

	.guContainer {
		width: 740px;
		padding: 0 15px;
	}

	.headerContent {
	
		width: 100%;
		
		.guHeaderLogo {
			width: 165px;
	
			height: 10px;

			svg {
				width: 165px;
				height: 198px;
			}
		}



		.guHeaderText {
			padding-right: 50px;
			vertical-align: top;
		}

	}

	.guHeader {
		
		height: 300px;
		background: #333 url(../imgs/banner.jpg);
		background-position: center top;
		
	}

	.guHeader .guContainer .headerContent .headerCopy {
		font-size: 24px;
		line-height: 30pxrem;
		padding-top: 50px;
	}
}

@media (min-width: 980px){
	
	.guSlice::before, .guSlice::after {
		width: calc((100% - 61.25rem) / 2);
	}

	.guContainer {
		width: 980px;
	}


	.headerContent {
		padding-right: 200px;
		padding-left: 100px;

		.guHeaderLogo {
			width: 200px;
		}

		.guHeaderText {
			
		}
	}




}

@media (min-width: 1140px){
	
	.guSlice::before, .guSlice::after {
		width: calc((100% - 71.25rem) / 2);
	}

	.guContainer {
		width: 1140px;
	}

		.guHeader {
		height: 400px;
	}

	.headerContent {
		padding-right: 200px;
		padding-left: 100px;

		.guHeaderLogo {
			width: 300px;

			svg {
				width: 250px;
				height: 300px;
			}
		}

		.guHeaderText {
			padding-top: 40px;
			padding-left: 20px;

		}

		h1 {
			display: none;
		}

	}

	.guHeader .guContainer .headerContent .headerCopy {
		  font-size: 32px;
		  line-height: 36px;
		  padding-top: 25px;
	}

	.guHeaderGroundLogo {
		position: absolute;
		bottom: 25px;
		right: 25px;
  		background: url(../imgs/logo.png) no-repeat;
  		width: 100px;
  		height: 145px;
  		
  	}

}

@media (min-width: 1300px){

	
	.guSlice::before, .guSlice::after {
		width: calc((100% - 81.25rem) / 2);
	}

	.guContainer {
		width: 1300px;

	}



	.headerContent {
		padding-left: 120px;
		padding-right: 300px;
		

		h1 {
			font-size: 48px;
			line-height: 54px;
		}


		.guHeaderLogo {

			width: 260px;

			svg {
				width: 250px;
				height: 300px;
			}
		}
	


	}

}


